<h1> Amiigo </h1>

<p> Started with my obbsession of animal crossing and wanting to collect all the rare amiibo's across the globe. As an avid lover of the nintendo universe, I wanted to create a marketplace where you can buy and sell amiibo's across the globe.
Welcome to Amiigo, your go to friend with all the amiibos. </p>