<div class="main">
<h1> Amiibo Collection </h1>
  <div class="container">
    <div class="row">
      <%= render partial: "card", amiibo: @amiibo %>
    <div class="col-sm">
      <p class="pagination"> <%= will_paginate @amiibos %> </p>
    </div>
    </div>
    </div>
  </div>
</div>
