<div class="container-fluid">
  <% @amiibos.each do |amiibo| %>
    <div>
      <%= cl_image_tag(amiibo.image.key, crop: :scale, width: 100, cloud_name: 'prats')%>
    </div>
    <h4><%= link_to amiibo[:amibo_name], amiibo_path(amiibo[:id])%></h4>
    <p>$<%= "%.2f" % amiibo.amibo_price %></p>
    <p><%= amiibo.description %></p>
    
  <% end %>
</div>